{% extends 'layout.html' %}

{% block content %}

<h2>Add Task</h2>

<form method="POST">

    <div class="mb-3">
        <label>Task Name</label>
        <input
            type="text"
            name="task_name"
            class="form-control"
            required
        >
    </div>

    <div class="mb-3">
        <label>Task Description</label>
        <textarea
            name="task_description"
            class="form-control"
        ></textarea>
    </div>

    <div class="mb-3">
        <label>Maximum Marks</label>
        <input
            type="number"
            name="maximum_marks"
            class="form-control"
            required
        >
    </div>

    <button
        type="submit"
        class="btn btn-primary"
    >
        Save Task
    </button>

</form>

{% endblock %}