<form action="/update_student/{{ student.student_id }}" method="POST">
    <input 
        type="text"
        name="first_name"
        value="{{ student.first_name }}"
        class="form-control"
    >

    <input 
        type="text"
        name="last_name"
        value="{{ student.last_name }}"
        class="form-control"
    >

    <button
        type="submit"
    >
        Update Student
    </button>

    
</form>


<!-- <h2>Edit Student</h2>

<form method="POST">

    <div class="row mt-4">

        <div class="col-md-6">

            <label class="form-label">
                First Name
            </label>

            <input
                type="text"
                name="first_name"
                class="form-control"
                value="{{ student.first_name }}"
                required
            >

        </div>

        <div class="col-md-6">

            <label class="form-label">
                Last Name
            </label>

            <input
                type="text"
                name="last_name"
                class="form-control"
                value="{{ student.last_name }}"
                required
            >

        </div>

    </div>


    <div class="row mt-3">

        <div class="col-md-4">

            <label class="form-label">
                Gender
            </label>

            <select
                name="gender"
                class="form-control"
                required
            >

                <option value="Male"
                    {% if student.gender == 'Male' %}
                        selected
                    {% endif %}
                >
                    Male
                </option>

                <option value="Female"
                    {% if student.gender == 'Female' %}
                        selected
                    {% endif %}
                >
                    Female
                </option>

            </select>

        </div>

        <div class="col-md-4">

            <label class="form-label">
                Mobile Number
            </label>

            <input
                type="text"
                name="mobile_number"
                class="form-control"
                value="{{ student.mobile_number }}"
                required
            >

        </div>

        <div class="col-md-4">

            <label class="form-label">
                Course Name
            </label>

            <input
                type="text"
                name="course_name"
                class="form-control"
                value="{{ student.course_name }}"
                required
            >

        </div>

    </div>


    <div class="row mt-3">

        <div class="col-md-12">

            <label class="form-label">
                Email Address
            </label>

            <input
                type="email"
                name="email"
                class="form-control"
                value="{{ student.email }}"
                required
            >

        </div>

    </div>


    <button
        type="submit"
        class="btn btn-success mt-4"
    >
        Update Student
    </button>

</form> -->